#hotRes {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
  font-weight: 500;
  font-size: 100px;
}

#fire-icon {
  color: black;
  font-size: 70px;
}

/* tables.html styling */

#tableTitle {
  text-align: center;
}

#tablesubhead {
  text-align: center;
}

#jumbo {
  margin: auto;
  text-align: center;
}